<ion-view title="Create Notification" id="page20">
  <ion-content padding="true" class="has-header">
    <form id="createNotification-form9" class="list">
      <ion-toggle toggle-class="toggle-positive" id="createNotification-toggle2">رسالة هامة</ion-toggle>
      <label class="item item-input" id="createNotification-input11">
        <span class="input-label">نص الرسالة</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="createNotification-select5">
        <span class="input-label">الى</span>
        <select>
          <option>شئون الطلاب</option>
          <option>عمادة الكلية</option>
          <option>جميع الطلاب</option>
          <option>المندوبين</option>
          <option>رؤساء الاقسام</option>
        </select>
      </label>
    </form>
    <button id="createNotification-button20" class="button button-positive  button-block">أرسال</button>
  </ion-content>
</ion-view>