<ion-view title="List Notifications" id="page21">
  <ion-content padding="true" class="has-header">
    <ion-list id="listNotifications-list8">
      <ion-item class="item-icon-left" id="listNotifications-list-item17" ui-sref="notificationDetail">
        <i class="icon ion-ionic"></i>تسليم النتائج</ion-item>
      <ion-item class="item-icon-left" id="listNotifications-list-item19" ui-sref="notificationDetail">
        <i class="icon ion-ionic"></i>موعد جديد</ion-item>
    </ion-list>
  </ion-content>
</ion-view>