<ion-view title="Login" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="login-form8" class="list">
      <ion-list id="login-list7">
        <label class="item item-input" id="login-input8">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button18" class="button button-stable  button-block">Log in</button>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button19" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>