<ion-view title="Maymona Student Mark App" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="maymonaStudentMarkApp-card21">
      <ion-item class="item-avatar" id="maymonaStudentMarkApp-list-item5">
        <h2>Mymonah Hasan Radman Hashim</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/1ILXyiQsSPC4OBuVawKt_adenuniv.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="maymonaStudentMarkApp-list-item-container1">
        <div id="maymonaStudentMarkApp-markdown2">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>