<ion-view title="Student Marks" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="studentMarks-list5">
      <ion-item class="positive" id="studentMarks-list-item11">Math
        <span class="item-note">80</span>
      </ion-item>
      <ion-item class="positive" id="studentMarks-list-item12">English
        <span class="item-note">90</span>
      </ion-item>
      <ion-item class="positive" id="studentMarks-list-item13">Java
        <span class="item-note">85</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>